/* Colors used:
 - #0081c6  ACCENT color: top line, hyperlinks. (#3c81c6 for anti-aliased h3 a)
 - #41a554  highlight accent: highlighted text background.
 - #222     text color CSS Reset: button/input/textarea, code/pre.
 - #555     text color CSS Reset in <body> (inherited)   [#333 in mobile]
 - #555555  text color CSS Reset: b, strong, h1-h4       [#222 in mobile]
 - #777     <blockquote>'s border-left
 - #ccc     line color: menu top & bottom, footer top    [#eee in mobile]
 - #ddd     tags divider <hr>                            [#eeeeee mobile]
 - #f4f4f4  body background, body <hr>'s, H1 on blue bar [white in mobile]
 - #f9f9f9  background for inline <code> blocks (matches <pre> in prettify.css)
*/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
img { border: none; vertical-align: bottom; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
button, input, textarea, code, pre { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; padding-top: 5ex; }
strong { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; text-align: left }
th { text-align: left; }
td { vertical-align: top; }

::-moz-selection { background: #41a554; color: white; text-shadow: none; }
::selection { background: #41a554; color: white; text-shadow: none; }


/** IE6 fix: for supporting div centering **/
* html .wrapper { float: left; }
.wrapper { overflow: hidden; }

* html .container {
  overflow: hidden;
  width: 100%;
}

.leftpad, .rightpad { height: 1px; width: 50%; }
.leftpad { float: left; margin-right: -335px; }
.rightpad {float: right; margin-left: -335px; }

.leftdate {
  float: left; height: 1em; width: 100%;
  margin-right: -540px;
  margin-top: .5ex; margin-bottom: 1ex;
}


/* IE6 fix: for <i>/_emphasized_ text over stretching width of p's inside li's*/
.footnotes ol li { vertical-align: text-top; }
div.citation { width: 99.5%; margin-top: .25em; }
div.citation p { margin-top: -.4ex; } /* .citation applied with IE6 JScript */


/** Title blue bar & text **/

div#header { /* Transplanted blue bar from Kubrick */
  height: 182px; /* Don't truncate the blue bar */
  background: url("../kubrickdark.gif");

  text-align: center;
  background-repeat: no-repeat;	/* not necessary */
  background-position: center;	/* not necessary */

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#logo {
  margin: 0;
  padding-top: 40px; /* So the title text isn't too high in the blue bar. */
}

#logo a { color: white; } /* IE 6 fix */

@font-face {
  font-family: "Latin Modern Caps";
  font-style: normal;
  font-weight: normal;
  src: url("../font/LatinModern-SmallCaps.eot");
  src: url("../font/LatinModern-SmallCaps.eot?#iefix") format("embedded-opentype"),
       url("../font/LatinModern-SmallCaps.woff") format("woff"),
       url("../font/LatinModern-SmallCaps.ttf") format('truetype');
}

/* ================ *
 *  Primary styles  *
 * ================ */

body {
  border-top: 1ex solid #0081c6;
  background: #f4f4f4; color: #555;
  font: 90%/1.5 "Helvetica Neue", "Helvetica", sans-serif;
}


/** Links & Typography **/

a { text-decoration: none; }
a:link, a:active { color: #0081c6; }
a:visited { color: #0081c6; }
a:link:hover, a:active:hover, a:visited:hover { text-decoration: underline; }
a:link:hover, a:active:hover { color: #0081c6; }
a:visited:hover { color: #0081c6; }
p, ul, ol, pre, blockquote, object { margin: 1em 0; }
blockquote {
  padding: 0 1ex 0 1em;
  border-left: 1ex solid #777;
}
b, strong, h1, h2, h3, h4 {
  -webkit-font-smoothing: antialiased;
  color: #555555;
}
h3 a { color: #3c81c6 !important; }

figure { width: 100%; margin: 1em 0; }
figure img { width: 100%; margin: 1ex 0; }

dl { margin: 2em 0; }
dt { float: left; font-weight: bold; padding-right: 1em; }
dd { margin: 1ex 0; }

sup { line-height: 0; }


/** Verbatim **/
code, pre {
  font-family: "Monaco", "Andale Mono", monospace;
  font-size: 12px;

  padding: 2px;
  background-color: #f9f9f9;
}
pre {
  margin: 0 0 18px;
  line-height: 18px;

  white-space: pre;
  word-wrap: break-word;
}
pre code { background: transparent; display: block; }


/** Titles **/

h1 {
  font-family: "Latin Modern Caps";
  font-weight: normal;
  font-size: 4em;
}

h4 {
  margin-bottom: 1em;
  margin-top: 1.33em;
}

.blog-description {
  font-family: "Verdana", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 80%; text-align: center; margin: 20px 0;
}

.divider hr { /* IE6 fix: user after a div to make proceding text on newline */
  border: 1px solid #f4f4f4; /* IE 6 fix: prevent line from showing */
  margin: 0 270px 0 270px; /* IE 6 fix: prevent line from appearing */
}

.wrapper hr {
  border: 1px solid #f4f4f4; /* IE 6 fix: force following post to be below */
}

.divider h2 {
  margin: 1em 0 1ex;
}

#menu {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  padding: 10px 0;
}
#menu a, #menu #translator {
  padding: 0px 8px;
}
#translator, .onright { float: right; }

.container { padding-top: 1em; }

.wrapper { text-align: justify; }

/** Headers in main body **/
.post:after {
  display: block;
  padding-bottom: 1ex; /* Non-IE6 only! IE6 has space above/below hr divider */
  content: "";
  clear: both;
}

.post.page { padding: 0 35px; }
.post.home { padding: 0 65px; }

.post .meta { float: left; width: 110px; }
.post .divider { padding-left: 130px; }  /* For archive page */
.post h3 { margin: 0; }
.post .body img { max-width: 100%; }

.pagination ul { list-style-type: none; text-align: center; }
.pagination li { display: inline; margin-right: 5px; }
.pagination .active a { text-decoration: underline; }
.pagination .prev a:before { content: '\00AB \0020'; }
.pagination .next a:after { content: '\0020 \00BB'; }

#footer {
  margin-top: 1em;
  border-top: 1px solid #ccc;
  padding: 1ex 1em;
  font-size: 11px;
}


/** Tags **/
ul.tags {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 50px; /* significant bottom space added */
  margin: 0;
}
ul.tags li, .inline-block {
  display: inline-block;
  zoom: 1; *display: inline; /* IE 6 fix: inline-block not supported */
}
ul.tags li a {
  margin-left: 1em;
  font-size: 12px;
}

/** Lists **/
ul {
  margin: 0 0 0 3.25ex;
  padding: 0;
}
ol {
  margin: 0 1ex 1.5em 4.5ex;
  padding: 0;
}
li {
  margin: 0;
}
li p {
  margin: 1ex 0;
}

ul li ul { margin-bottom: 0; }


/* ============================================ *
 *  Alternative formats:  mobile & print views  *
 * ============================================ */

@media screen and (max-width: 570px) {
  .inline-block { display: block; padding: 0 2px !important; }
}
@media screen and (max-width: 670px) {
  #logo { padding: 0; }

  div#header, div#header h1, div#header h1 a {
	text-align: left;
	background-image: none;
	height: 1ex; color: #222;
	font: bold 28px Arial, "Helvetica Neue", "Helvetica", sans-serif;
  }

  .blog-description { text-align: left; }

  body .wrapper { padding: 0 20px; }
  body .wrapper .container .post,
  body .wrapper .container .wrapper { padding: 0 !important; }

  .post .leftdate { float: none; }

  div#footer { padding: 0; }

  .tags { text-align: center; }
  .tags li a { margin: 0 5px !important; }

  /* increase contrast */
  body { background: white; color: #333; }
  .divider hr, .wrapper hr { border: 1px solid white; }
  b, strong, h1, h2, h3, h4 { color: #333 !important; }

  #menu { border-bottom: 1px solid #eee; border-top: 1px solid #eee; }
  ul.tags { border-top: 1px solid #ddd; }
}

@media screen and (max-width: 768px) {
  #menu { text-align: center; }
  #menu a { padding: 6px; }
  #translator { display: block; float: none; padding-bottom: 10px !important; }
  .onright { visibility: hidden; }
}

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  h1 > a[href]:after, .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after, ul > li > a[href]:after { content: "" !important; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #aaa; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
